.about-container{
  padding-top: 49.6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-item{
  background-color: rgb(255, 255, 215);
  height: 20rem;
  width: 100%;
  text-align: center;
}